* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #332FD0;
    font-family: 'Chakra Petch', sans-serif;
    overflow-x: hidden;
}

/* ERROR */

#errorDisplay {
    display: block;
    margin: 15px auto;
    text-align: center;
    color: rgb(243, 83, 144);
    font-size: 20px;
    font-weight: 800;
    word-spacing: 5px;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.288);
    cursor: default;
}

/* HEADER */

.row {
    text-align: center;
    margin-top: 1%;
}

.memeMakerHeader {
    border: #6EDCD9;
    border-style: solid;
    margin: auto;
    width: 60%;
    padding: 1%;
}

.memeMakerHeader:hover {
    box-shadow: 4px 4px rgba(0, 0, 0, 0.288);
}

.memeMakerHeader h1 {
    color: #FFD124;
    font-family: 'Fredoka One', cursive;
    font-size: 6vw;
    text-shadow: 2px 6px rgba(0, 0, 0, 0.384);
}

.memeMakerHeader p {
    color: #6EDCD9;
    font-size: 1.5vw;
    text-shadow: 2px 2px rgba(0, 0, 0, 0.384);
}

/* FORM */

.form-control-file {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 6em;
    outline: none;
    visibility: hidden;
    cursor: pointer;
    background-color: #c61c23;
    box-shadow: 0 0 5px solid currentColor;
    margin-bottom: 5%;
    margin-top: 3%;
}

.form-control-file::before {
    content: attr(data-title);
    position: absolute;
    top: 0.5em;
    left: 0;
    width: 100%;
    min-height: 4em;
    line-height: 2em;
    padding-top: 0.9em;
    opacity: 1;
    visibility: visible;
    text-align: center;
    border-style: dashed;
    border-color: #6EDCD9;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    overflow: hidden;
    color: #FFD124;
    
}

.form-control-file:hover::before {
    border-style: solid;
    box-shadow: inset 0px 0px 0px 0.25em;
}

.form-group {
    font-size: 20px;
}

.btn-primary {
    background-color: #FFD124;
    border-radius: 5px;
    border-color: #6EDCD9;
    font-family: 'Chakra Petch',
    sans-serif;
    font-size: 20px;
    width: 150px;
    height: 40px;
    cursor: pointer;
    color: #332FD0;
    font-weight: bold;
    margin-top: 20px;
}

.btn-primary:hover {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.623);
    font-weight: bold;
    background-color: #FFD124;
    color: #332FD0;
}

/* ADD YOUR TEXT FORM */

#yourText {
    margin: auto;
}

#yourText label {
    margin: 0 auto 20px auto;
    color: #6EDCD9;
    font-size: 22px;
}

#yourText input {
    padding: 5px;
    width: 40vw;
    height: 50px;
    border-radius: 5px;
    border-style: none;
    margin: 5px auto 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
}

#button {
    margin: 10px auto 5% auto;
    background-color: #FFD124;
    border-radius: 5px;
    border-color: #6EDCD9;
    margin-top: 10px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 20px;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

#button:hover {
    box-shadow: 2px 4px rgba(0, 0, 0, 0.623);
    font-weight: bold;
}

/* FOOTER */

.container {
    text-align: center;
    
}

.container .text-muted {
    width: 100%;
    color: wheat!important;
}

.container .text-muted a {
    text-decoration: none;
    color: wheat;
}

.container .text-muted a:hover {
    text-decoration: underline;
    color: wheat;
}
    
/* MEDIA QUERIES */

@media (max-width: 500px) {
    .memeMakerHeader {
        width: 80%;
    }
    .memeMakerHeader h1 {
        font-size: 40px;
    }
    .memeMakerHeader p {
        font-size: 20px;
    }
    .inputDnD input {
        font-size: 15px;
    }
}
